/* Puedes agregar estilos específicos para el botón aquí */
.bg-yellow-400 {
    background-color: #facc15;
  }/* Puedes agregar estilos específicos para el botón aquí */
.bg-yellow-400 {
    background-color: #facc15;
  }
  .hover\:opacity-90:hover {
    opacity: 0.9;
  }