<div
  class="flex items-center justify-center min-h-screen bg-cover bg-center"
  style="background-image: url('login.jpg');"
>
  <div
    class="bg-white dark:bg-gray-800 p-8 rounded shadow-md w-full max-w-md border border-orange-500"
  >
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label
          for="username"
          class="block text-sm font-medium text-gray-700 dark:text-gray-300"
          >Nombre de usuario:</label
        >
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 dark:focus:ring-indigo-400 focus:border-indigo-500 dark:focus:border-indigo-400 sm:text-sm"
        />
      </div>
      <div>
        <label
          for="password"
          class="block text-sm font-medium text-gray-700 dark:text-gray-300"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 dark:focus:ring-indigo-400 focus:border-indigo-500 dark:focus:border-indigo-400 sm:text-sm"
        />
      </div>
      <div>
        <button
          type="submit"
          class="w-full bg-orange-500 text-gray-900 py-2 px-4 rounded-md"
        >
          Login
        </button>
      </div>
    </form>
    <div class="mt-4 text-center">
      <a
        routerLink="/register"
        class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-900 dark:hover:text-indigo-300"
        >¿No tienes cuenta? Registrate aquí</a
      >
    </div>
  </div>
</div>