<div class="protected-container">
    <div class="content-container bg-white/90 dark:bg-gray-800/90">
      <h2 class="text-2xl font-bold mb-6 text-center">¡Enhorabuena!</h2>
      <p class="text-center">
        Te has registrado con éxito y ahora puedes comprar sin problemas.
      </p>
      <div class="mt-4 text-center">
        <a
          routerLink="/"
          class="text-orange-700 dark:text-orange-400 hover:text-orange-800 font-semibold hover:underline"
          >Volver a la página inicial</a
        >
      </div>
    </div>
  </div>